/*
body{
    background-color: black;
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
}
img{
    
    margin-bottom: 5%;

}

h1{
    color: red;
    text-align: center;
    
}

p{

    color: red;

}

a{
    
    color: red;
    font-size: 200%;

}*/
body{
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
}

	h1 {
		color: rgb(206, 203, 203);
		font-size: 45px;
	}

	#b1, #b2, #b3, #b4, #b5,
	#b6, #b7, #b8, #b9 {
		width: 80px;
		height: 52px;
		margin: auto;
		border: 1px solid rgb(30, 81, 190);
		border-radius: 6px;
		font-size: 30px;
		text-align: center;
	}

	#but {
		box-sizing: border-box;
		width: 95px;
		height: 40px;
		border: 1px solid rgb(236, 238, 232);
		margin: auto;
		border-radius: 4px;

		background-color: rgb(209, 214, 200);
		color: white;
		font-size: 20px;
		cursor: pointer;
	}

	#print {

		color: rgb(245, 250, 239);
		font-size: 20px;
	}

	#main {
		text-align: center;
	}

	#ins {
			
		color: rgb(226, 233, 216);
		font-size: 17px;
	}


